//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

OTHER_LDFLAGS = $(OF_CORE_LIBS_NO_FMOD)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS_NO_FMOD)

TARGET_DISPLAY_NAME=ofxScreensaver Empty Example
TARGET_NAME=ofxScreensaverEmptyExample

SCREEN_SAVER_PRINCIPAL_CLASS=ofxScreensaver$(TARGET_NAME)
BUNDLE_ID=cc.openframeworks.$(TARGET_NAME)

GCC_PREPROCESSOR_DEFINITIONS=APP_NO_FMOD OF_SCREEN_SAVER BUNDLE_IDENTIFIER=$(BUNDLE_ID) SCREENSAVER_MAIN_CLASS=$(SCREEN_SAVER_PRINCIPAL_CLASS) SCREENSAVER_GLVIEW=$(SCREEN_SAVER_PRINCIPAL_CLASS)_GLView


GENERATE_PKGINFO_FILE = YES
